[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
docutils = "*"
doc8 = "*"
flake8 = "*"
flake8-bugbear = "*"
isort = "*"
pytest = "*"
pytest-coverage = "*"
rstcheck = "*"
sphinx = "*"
ipykernel = "*"

[packages]
matplotlib = "*"
pandas = "*"
scipy = "*"
xlrd = "*"
plotly = "==4.8.1"
black = "*"
ipykernel = "*"
pyam-iamc = "*"
ffmpeg = "*"
diagrams = "*"
graphviz = "*"
pyhector = "*"
pandas-profiling = "*"
streamlit = "*"
scikit-learn = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
