[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
docutils = "*"
doc8 = "*"
flake8 = "*"
flake8-bugbear = "*"
isort = "*"
pytest = "*"
pytest-coverage = "*"
rstcheck = "*"
sphinx = "*"

[packages]
pandas = "*"
scipy = "*"
xlrd = "*"

[requires]
python_version = "3.8"
